.full-width {
    width: 100%;
    text-align: left;
    color: #363636 !important;
    transition-duration: 1s;
    background-color: #ffffff !important;
    border-color: #ccccdb;

    &::after {
        float: right;
        margin-top: 10px;
    }
}

.question-body {
    width: 100%;
    margin-top: 15px;
    border-color: #ccccdb;
    border-radius: 4px;
    padding: 10px;
    min-height: 100px;
}

.option {
    height: 50px !important;
    min-height: 50px !important;
    width: 90% !important;
    margin-top: 0px !important;
    vertical-align: middle;
}

.add-option {
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    color: #003ec5;
    margin: 20px 0px 10px;
}

.disabled {
    color: #ccccdb !important;
    cursor: not-allowed !important;
}

.aux-options {
    margin-top: 10px;

    .form-check-label {
        margin-left: 10px;
    }
}

.correct-checkbox {
    vertical-align: middle;
    margin-right: 15px;
}

.option-container {
    margin-top: 15px;
}

.dropdown-menu.show {
    width: 100%;
}

.error {
    background-color: #ffe3e3;
    border-color: #e07c7c !important;
}